@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600;700;800;900&family=Roboto+Condensed:wght@300;400&display=swap');

html {
    min-height: 100%;
}
body {
    min-height: 100%;
    text-align: center;
    background: {
        image: url("../img/bg.webp");
        repeat: no-repeat;
        size: cover;
        position: top left;
    };
    font-family: 'Roboto Condensed', sans-serif;
}

h1 {
    font-family: 'Kanit', sans-serif;
    font-size: 46px;
}

#quote {
    font-size: 36px;
    font-weight: bold;
}

#imgcont {
    height: 250px;
    width: auto;
    border-radius: 125px;
}

#author{
    font-size: 28px;
}

#totalQuotes {
    font-size: 24px;
}